html,
body {
    position: relative;
    min-width: 100%;
    min-height: 100%;
}
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $body-bg;
    height: 100%;
    #wrapper {
        margin: 0;
        height: 100%;
    }
}
#stickyHeader {
    display: block;
    overflow: hidden;
    background-color: transparent;
}
#heading {
    font-family: "Lato";
    font-size: 2em;
    font-style: italic;
    padding: 0;
    cursor: pointer;
    text-align: center;
    &.active,
    &:hover {
        color: $btn-positive-bg;
        #picture {
            filter: none !important;
        }
    }
    #picture {
        display: inline-block;
        transition: all .5s ease-out;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        filter: grayscale(100%);
    }
    span {
        display: block;
        transition: all .3s;
    }
}
#mainNav {
    z-index: 100;
    padding: 1em;
    transition: all .2s ease-in;
    text-align: center;
}
#mainFooter {
    // background-color: darken($body-bg, 85%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .btn-cnt {
        margin: 0;
        padding: 1em;
    }
    .flat.btn {
        color: #FFFFFF;
    }
    small {
        padding: 0 $baseline;
        color: #FFFFFF;
    }
}
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    z-index: 1000;
    display: none;
}

.animations {
    .btn {
        width: 100%;
    }
}
section .container {
    padding: 2em 0;
}
.heading {
    position: relative;
    margin-top: 0;
}
#sidebar {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $sidebar-bg;
}
#main {
    position: relative;
    overflow: hidden;
}
#mainNav {
    padding-bottom: 1em;
    .btn {
        font-family: "Lato";
        font-style: italic;
        margin-bottom: $baseline/2;
        letter-spacing: 3px;
    }
}
.mainTitle {
    font-family: "Lato";
    font-style: italic;
}



/* shrink the gutter if the screen is smaller than 1024px wide */
@media screen and (min-width : 1024px) {
}
/* Set columns to 100% if the screen is small than 768px wide */
@media screen and (max-width : 768px) {
    #heading {
        text-align: center;
        #picture {
            display: inline-block;
            width: 75px;
            height: 75px;
            vertical-align: middle;
        }
        span {
            line-height: 50px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    #mainFooter {
        display: none;
    }
}
@media screen and (min-width : 768px) {
    #main,
    #sidebar {
        height: 100%;
    }
    #mainNav {
    }
    .animation { height: 100%; margin-top: 0; margin-right: -$gutter; margin-bottom: 0; margin-left: -$gutter;}
}
    .animation {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        background-color: $body-bg;
    }
    .animation.ng-enter,
    .animation.ng-leave {
        height: 100%;
        // position: absolute;
        animation-duration: 1s;
    }
    .animation.ng-enter {
        z-index: 99;
        animation-name: $animationIn;
        & + #loader { display: block; }
    }
    .animation.ng-leave {
        z-index: 88;
        animation-name: $animationOut;
        & + #loader { display: none; }
    }