html,
body {
    position: relative;
    min-width: 100%;
    min-height: 100%;
}
body {
    background-color: $body-bg;
    > .row {
        margin: 0;
    }
}
#stickyHeader {
    display: block;
    overflow: hidden;
    background-color: transparent;
}
#heading {
    font-family: "Lato";
    font-style: italic;
    text-align: center;
    font-size: 2em;
    padding: 0;
    cursor: pointer;
    &.active {
        color: $link-color-hover;
    }
    #picture {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        filter: grayscale(100%);

    }
    span {
        transition: all .3s;
        display: block;
    }
}
#mainNav {
    transition: all .2s ease-in;
    text-align: center;
    padding: 1em;
    z-index: 100;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: darken($body-bg, 85%);
    .btn-cnt {
        padding: 1em;
        margin: 0;
    }
    .flat.btn {
        color: #FFFFFF;
    }
    small {
        color: #FFFFFF;
        padding: 0 $baseline;
    }
}

.animations {
    .btn {
        width: 100%;
    }
}
section .container {
    padding: 2em 0;
}
.heading {
    margin-top: 0;
    position: relative;
}
#sidebar {
    background-color: $sidebar-bg;
}
#main {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}
#mainNav {
    padding-bottom: 1em;
    .btn {
        margin-bottom: $baseline/2;
        font-family: "Lato";
        font-style: italic;
        letter-spacing: 3px;
    }
}
.mainTitle {
    font-family: "Lato";
    font-style: italic;
}
.animation {
    padding-bottom: 3em;
    background-color: $body-bg;
    position: relative;
}
.animation.ng-enter,
.animation.ng-leave {
    height: 100%;
    animation-duration: 1s;
}
.animation.ng-enter {
    animation-name: fadeIn;
    z-index: 99;
}
.animation.ng-leave {
    animation-name: fadeOut;
    z-index: 88;
}


/* shrink the gutter if the screen is smaller than 1024px wide */
@media screen and (min-width : 1024px) {
}
/* Set columns to 100% if the screen is small than 768px wide */
@media screen and (max-width : 768px) {
    #heading {
        text-align: center;
        #picture {
            display: inline-block;
            width: 75px;
            height: 75px;
            vertical-align: middle;
        }
        span {
            display: inline-block;
            line-height: 50px;
            vertical-align: middle;
        }
    }
}
@media screen and (min-width : 768px) {
    #main,
    #sidebar {
        height: 100%;
    }
    #mainNav {
    }
}