<!doctype html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<title>Edmond Ko Circum Vitae</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>

<body ng-app="cvApp">
	<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<!-- Add your site or application content here -->
	<div class="row" id="wrapper" ng-controller="MainCtrl">
		<aside class="col-3" id="sidebar">
			<div id="toggleNav" class="rotateElem" ng-click="navToggle($event)">
				<button class="front btn circle raised iconOnly positive" >
					<span class="fa fa-bars"></span>
				</button>
				<button class="back btn circle raised iconOnly negative" >
					<span class="fa fa-close"></span>
				</button>
			</div>
			<header id="stickyHeader">
				<h1 id="heading" ui-sref="about" ui-sref-active="active">
					<div id="picture">
					<div class="front"><img src="images/logo.jpg" alt="Edmond Ko Logo"></div>
					<div class="back"><img src="images/self-portrait.jpg" alt="Edmond Ko Portrait"></div>
					</div>
					<span>Edmond Ko</span>
				</h1>
			</header>
			<nav id="mainNav" class="btn-cnt cf">
				<a ng-repeat="item in navigation" class="btn flat positive animated" ui-sref="{{item}}" ui-sref-active="active">{{item}}</a>
			</nav>
		</aside>
		<div id="main" class="col-9">
			<div ui-view class="pageAnimation">
			</div>
		</div>
	</div>



	<!--[if lt IE 9]>
		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/json3/lib/json3.min.js"></script>
		<![endif]-->

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/json3/lib/json3.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/directives/resize.js"></script>
	<script src="scripts/services/services.js"></script>
	<!-- endbuild -->
</body>

</html>
