<section id="about" class="">
    <div class="container">
        <h2>{{homeMsg}}</h2>
        <div class="row">
            <div class="col-8">
                <h2 class="mainTitle">A little bit about me</h2>
                <p>Howdy, my name is Edmond and I'm a passionate Front-end Web Developer.</p>
                <blockquote>I love making beautiful designs come "alive" on the Web!</blockquote>
                <p>I'm trying to achieve perfection in my coding skills, as well as making user friendly interfaces for a better UX on the Web applications I'm working on.</p>
                <p>This web site is an experimental project made entirely by me with my own <a href="http://edmondko.github.io/ng-sass-patterns" target="_blank">SASS Pattern Library</a>. You can check it out and download it from my <a href="https://github.com/edmondko/ng-sass-patterns">github profile</a></p>
                <blockquote>I believe that <strong>"What you do is Who you are!"</strong></blockquote>
            </div>
            <div class="col-4">
                <h2 class="mainTitle">Facts</h2>
                <ul>
                    <li>I like to spend my spare time with my significant other traveling</li>
                    <li>I love music and can't live without it.</li>
                    <li>I'm from Sofia - simply the best city in Bulgaria</li>
                </ul>
                <h3>Get in touch:</h3>
                <p>You can contact me anytime by:</p>
                <ul>
                    <li><a href="email:ko.edmond@gmail.com" target="_blank"><span class="fa fa-envelope-o"></span> email</a></li>
                    <li><a href="skype:edmond_ko?chat" target="_blank"><span class="fa fa-skype"></span> skype</a></li>
                    <li><a><span class="fa fa-phone"></span> + 359 883 367 060</a></li>
                </ul>
            </div>
        </div>


    </div>
</section>
