<section id="about" class="animated fadeInLeft">
    <div class="container">
        <h2>{{homeMsg}}</h2>
        <div class="row">
            <div class="col-8">
                <h3>Who am I?</h3>
                <p>I'm a Front end developer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, unde?</p>
            </div>
            <div class="col-4">
                <h3>Facts about me:</h3>
                <ul>
                    <li>I like to ...</li>
                    <li>I like to ...</li>
                    <li>I like to ...</li>
                    <li>I like to ...</li>
                    <li>I like to ...</li>
                </ul>
            </div>
        </div>


    </div>
</section>
