<section id="about" class="">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="mainTitle">Education and Degrees</h1>
                <blockquote>I believe in
                    <strong>self education</strong>rather than University institutions which teach people to think like robots.</blockquote>
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime">
                            <span>October 2009</span>

                            <span>Today</span>
                        </time>
                        <div class="cbp_tmicon fa fa-graduation-cap"></div>
                        <div class="cbp_tmlabel">
                            <h3>Information Technologies &amp; Telecommunications</h3>
                            <h4>Bachelor's degree</h4>
                            <p>I'm doing a Minor Program in Information Technologies alongside my major program Telecommunications.
                                <p>
                                    <strong>University :</strong> New Bulgarian University</p>
                                <p>
                                    <strong>Location :</strong> Sofia</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime">
                            <div>
                                <span>September 2004</span>
                                <span>June 2009</span>
                            </div>
                        </time>
                        <div class="cbp_tmicon fa fa-university-cap"></div>
                        <div class="cbp_tmlabel">
                            <h3>Laser Technologies</h3>
                            <h4>Highschool Proffesional Degree</h4>
                            <p>
                                <strong>School : </strong> NPGPTO M.V.Lomonosov</p>
                            <p>
                                <strong>Location : </strong> Sofia</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
