<section id="about" class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mainTitle">Education and Degrees</h1>
                <!-- <blockquote>I believe in <strong>self education</strong></blockquote> -->
                <ul class="cbp_tmtimeline">
                    <li ng-repeat="edu in education">
                        <time class="cbp_tmtime">
                             <span>{{edu.to}}</span>
                            <span>{{edu.from}}</span>
                        </time>
                        <div class="cbp_tmicon fa fa-graduation-cap"></div>
                        <div class="cbp_tmlabel">
                            <h3>{{edu.title}}</h3>
                            <h4>{{edu.degree}}</h4>
                            <p>{{edu.about}}<p>
                            <strong>University :</strong> {{edu.school}}</p>
                            <p><strong>Location :</strong> {{edu.location}}</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
