<section id="about" class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mainTitle">Where I've been working all these years?</h2>
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime">
                            <span>May 2013</span>

                            <span>Today</span>
                        </time>
                        <div class="cbp_tmicon fa fa-lightbulb-o"></div>
                        <div class="cbp_tmlabel">
                            <h3>Front-end Web Developer:</h3>
                            <p>I'm part of the Web team as a Front End Developer. My main responsibilities are developing and maintaining
                                <strong>Web systems</strong>for the employees of the company like:</p>
                            <ul>
                                <li>Task managing system;</li>
                                <li>System for managing documentations for projects;</li>
                                <li>Statistics for the games beeing played;</li>
                                <li>and many more.</li>
                            </ul>
                            <p>Also I've been part of the development for several
                                <strong>HTML5 Casino Games for Mobile:</strong>
                            </p>
                            <ul>
                                <li>BlackJack;</li>
                                <li>Roulette</li>
                            </ul>
                            <p>
                                My best skills are at writing semantic and pragmatic HTML5/CSS3/JS. I have
                                <strong>experience with frameworks</strong> and libraries like:
                            </p>
                            <ul>
                                <li>Grunt/Yeoman;</li>
                                <li>GIT/SVN;</li>
                                <li>Angular.JS;</li>
                                <li>HandlebarsJS;</li>
                                <li>RequireJS;</li>
                                <li>GSAP;</li>
                                <li>Animate.CSS;</li>
                                <li>Sass/Compass;</li>
                                <li>and many more;</li>
                            </ul>

                            <p>
                                <strong>Employer:</strong> Cayetano Gaming (property of PaddyPower PLC)</p>
                            <p>
                                <strong>Location:</strong> Sofia, Bulgaria</p>
                            <p>
                                <strong>Type of business:</strong> Online Casino Games</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2013-04-11T12:04">
                            <span>April 2013</span>

                            <span>May 2013</span>
                        </time>
                        <div class="cbp_tmicon fa fa-lightbulb-o"></div>
                        <div class="cbp_tmlabel">
                            <h3>Software Engineer/Front End</h3>
                            <ul>
                                <li>
                                    <strong>Employer:</strong> Iteco</li>
                                <li>
                                    <strong>Location:</strong> Sofia</li>
                                <li>
                                    <strong>Type of business:</strong> Outsourcing It Services</li>
                            </ul>
                        </div>
                    </li>
                </ul>


            </div>

        </div>


    </div>
</section>
