<section id="about" class="animated fadeInLeft">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Where I've been working all these years?</h3>
                <div class="col-half">

                    <ul>
                        <li>
                            <strong>Dates:</strong>May 2013 - till now</li>
                        <li>
                            <strong>Position:</strong>Front End Web Developer</li>
                        <li>
                            <strong>Main activities and responsibilities:</strong>
                            <p>I'm part of the Web team as a Front End Developer. My main responsibilities are developing and maintaining
                                <strong>Web systems</strong>for the employees of the company like:</p>
                            <ul>
                                <li>Task managing system;</li>
                                <li>System for managing documentations for projects;</li>
                                <li>Statistics for the games beeing played;</li>
                                <li>and many more.</li>
                            </ul>
                            <p>Also I've been part of the development for several
                                <strong>HTML5 Casino Games for Mobile:</strong>
                            </p>
                            <ul>
                                <li>BlackJack;</li>
                                <li>Roulette</li>
                            </ul>
                            <p>
                                My best skills are at writing semantic and pragmatic HTML5/CSS3/JS. I have
                                <strong>experience with frameworks</strong>and libraries like:
                            </p>
                            <ul>
                                <li>Grunt/Yeoman;</li>
                                <li>GIT/SVN;</li>
                                <li>Angular.JS;</li>
                                <li>HandlebarsJS;</li>
                                <li>RequireJS;</li>
                                <li>GSAP;</li>
                                <li>Animate.CSS;</li>
                                <li>Sass/Compass;</li>
                                <li>and many more;</li>
                            </ul>
                        </li>
                        <li>
                            <strong>Name of employer:</strong>Cayetano Gaming (property of PaddyPower PLC)</li>
                        <li>
                            <strong>Location</strong>Sofia, Bulgaria</li>
                        <li>
                            <strong>Type of business or sector</strong>Information technologies</li>

                    </ul>

                </div>
                <div class="col-half">
                    <ul>

                            <li>
                                <strong>Dates:</strong>April 2013 - May 2013</li>
                            <li>
                                <strong>Occupation:</strong>Software Engineer/Front End</li>
                            <li>
                                <strong>Name of employer:</strong>Iteco</li>
                            <li>
                                <strong>Location:</strong>Sofia</li>
                            <li>
                                <strong>Type of business or sector:</strong>Information technologies</li>

                    </ul>
                </div>


            </div>

        </div>


    </div>
</section>
