<section id="about" class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mainTitle">Work timeline</h1>
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime">
                            <span>May 2013</span>

                            <span>Today</span>
                        </time>
                        <div class="cbp_tmicon fa fa-lightbulb-o"></div>
                        <div class="cbp_tmlabel">
                            <h3>Front-end Web Developer:</h3>
                            <p>I'm part of the Web team as a Front End Developer. My main responsibilities are developing and maintaining
                                <strong>Web systems</strong>for the employees of the company like:</p>
                            <ul>
                                <li>Task managing system;</li>
                                <li>System for managing documentations for projects;</li>
                                <li>Statistics for the games beeing played;</li>
                                <li>and many more.</li>
                            </ul>
                            <p>Also I've been part of the development for several
                                <strong>HTML5 Casino Games for Mobile:</strong>
                            </p>
                            <ul>
                                <li>BlackJack;</li>
                                <li>Roulette</li>
                            </ul>


                            <p>
                                <strong>Employer:</strong>Cayetano Gaming (property of PaddyPower PLC)</p>
                            <p>
                                <strong>Location:</strong>Sofia, Bulgaria</p>
                            <p>
                                <strong>Type of business:</strong>Online Casino Games</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2013-04-11T12:04">
                            <span>April 2013</span>

                            <span>May 2013</span>
                        </time>
                        <div class="cbp_tmicon fa fa-lightbulb-o"></div>
                        <div class="cbp_tmlabel">
                            <h3>Software Engineer/Front End</h3>
                            <ul>
                                <li>
                                    <strong>Employer:</strong>Iteco</li>
                                <li>
                                    <strong>Location:</strong>Sofia</li>
                                <li>
                                    <strong>Type of business:</strong>Outsourcing It Services</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2013-04-11T12:04">
                            <span>January 2012</span>
                            <span>April 2013</span>
                        </time>
                        <div class="cbp_tmicon fa fa-lightbulb-o"></div>
                        <div class="cbp_tmlabel">
                            <h3>Front-End Web Developer</h3>
                            <ul>
                                <li>
                                    <strong>Employer:</strong>Avalith</li>
                                <li>
                                    <strong>Location:</strong>Sofia</li>
                                <li>
                                    <strong>Type of business:</strong>Outsourcing It Services</li>
                            </ul>
                            <p>
                                <strong>Responsibilities:</strong>Developing and maintaining Web applications Skills used: Webdesign, HTML, CSS3 (Compass), jQuery</p>
                            <p>Some of the web systems I've been working on there:</p>
                            <ul>
                                <li><a href="http://historypin.com" target="_blank">HistoryPin</a>
                                </li>
                                <li><a href="http://wearewhatwedo.org" target="_blank">WeAreWhatWeDo</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2013-04-11T12:04">
                            <span>August 2010</span>
                            <span>December 2011</span>
                        </time>
                        <div class="cbp_tmicon fa fa-lightbulb-o"></div>
                        <div class="cbp_tmlabel">
                            <h3>Front-End Web Developer</h3>
                            <ul>
                                <li>
                                    <strong>Employer : </strong> Antipodes Ltd</li>
                                <li>
                                    <strong>Location : </strong> Sofia</li>
                                <li>
                                    <strong>Type of business : </strong> Outsourcing It Services</li>
                            </ul>
                            <p>Some of the web systems I've been working on there:</p>
                            <ul>
                                <li><a href="http://antipodes.bg" target="_blank">Antipodes.bg</a></li>
                                <li><a href="http://antipodes.bg" target="_blank">Internetbuttons.org</a></li>
                                <li><a href="http://shop.wearewhatwedo.org/tweettowel/" target="_blank">Tweet Towel</a></li>

                            </ul>
                        </div>
                    </li>
                </ul>


            </div>

        </div>


    </div>
</section>
